@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.hero {
  background-image: url("./assets/images/hero-bg.png");
}

.community {
  background-image: url("./assets/images/community.png");
}

.circle {
  animation: scale 3s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1.0)
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}