@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  background-image: url("./assets/images/hero-bg.png");
}

.community {
  background-image: url("./assets/images/community.png");
}